body {
    background:white;
}

img {
     max-width:100%
}

a{
    text-decoration: none;
    color: #555;
    font-weight: bold;
}

a:hover {
    color:#F15640
}

blockquote {
    padding: 2em;
    background-color: #EEE;
    font-style: italic;
}

blockquote em {
    font-weight: bold;
}

.center {
  text-align: center;
}

#header {
    color: white;
    text-align: center;
    background: #F15640 url("/images/cover.jpg") no-repeat 0% 40%;
    padding: 3%;
}

#header h1 {
    text-shadow:3px 3px #F15640;
}

#header a, #header a:hover {
    color: white;
    font-weight: normal;
}

#header h4 {
    text-shadow:1px 2px #F15640;
}

#header .container h5 {
    text-align: justify;
}

.button-download {
    color:#F15640;
    font-weight: bolder;
    background: white;
    border-color:#F15640;
}

.button-download:hover {
    color:white;
    background: #F15640;
    border-color:white;
}

h1 {
    font-weight: bolder;
}

#menu  {
    padding: 5px;
    background-color: white ;
}

#menu p, #menu a {
    color: #F15640;
    margin-bottom: 0;
    text-transform: lowercase;
}

#menu a {
    padding: 5px;
    font-weight: normal;
}

#menu a:hover {
    text-shadow: 0 0 0 #F15640;
}

#main {

}

#intro {
    text-align: justify;
}

h2 {
    margin-top: 5%;
    margin-bottom: 8%;
}

h5 {
    margin-top: 2%;
}

#presentation {
    margin-top: 3%;
    text-align: justify;
    font-size: 1.1em;
}

#presentation p {
    margin-bottom: 1.5em;
}

#petition {
  margin-top: 1em;
  font-size: 1.5em;
  text-align: center ;
}

.footnotes {
    font-size: .8em;
}

#footer {
    font-size: 1.3em;
    color: white;
    text-align: center;
    background: #F15640 url("/images/cover.jpg") no-repeat 0% 40%;
    padding: 20px 10px;
    /*margin-top: 3%;*/
}

#footer h5 {
    padding-top: 1em;
}

#footer a {
    color:white;
}

#footer h5, #footer p {
    background: rgba(241,86,64, .6);
    
}

/*
* next/prev page nav
*/

.next-prev {
    border-top:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

.next-prev ul li {
    display:inline;
}

.next-prev a{
    display:inline-block;
    padding:10px;
}

.next:after {
    content: '\25BA';
}

.prev:before {
    content: '\25C4';
}

.next-prev ul li:nth-child(2) {
    text-align: center;
}

.next-prev ul li:last-child {
    text-align: right;
}


#license {
  padding-top: 1em;
}

.contact {
  font-size: 1.2em;
  text-align: center;
}

#footer {
    font-size: .9em;
    padding: 0 0 0 2%;
}

.fabricatorz {
    padding-top: 2em;
}

/*
* Bassel Photo
*/

.photo {
    position: relative;
    height: 200px;
    width: 100%;
    overflow : hidden;
    top:0;
    /*margin-bottom: 3%;*/
}

.photo img {
    /*position:absolute;*/
    /*top:-165%;*/
    /*bottom:0;*/
}

.photo .caption {
    text-align: center;
    background: rgba(0,0,0,.6);
    color: white;
    position:absolute;
    top: calc( 80% - 20px );
    padding: 5px 10px;
    width: 100%;
    margin:auto;
    opacity:0;
}

.photo:hover .caption{
   transition: opacity .5s;
   opacity: 1;
}
.cover {
  max-height: 80vh;
}
#download {
  font-size: 1.3em;
}
#contact {
  padding-bottom: 1em;
}

.subtitled {
    margin-bottom: 0;
    line-height: .4em;
}


/**
 * Navigation
 */

nav.hz ul { list-type: none; margin:0; padding:0; display: table-row; }
nav.hz ul li { display: table-cell; }
ul.alpha li { width: 1em; }

/**
 * Links page
 */

body.links {
    height: 100%;
    overflow: auto;
}

body.links #header {
    position: fixed;
    width: 100%;
    padding: 0;
    z-index: 90;
    height: 13em;
    height: 10m;
    background-color: rgba(0,0,13,0.95);
}

body.links #header h1 {
    font-size: 2em;
    text-align: right;
    padding-top:0.5em;
    padding-left: 1em;
}

body.links #main {
    top: 1em;
}

body.links h2,
body.links h3 {
    padding-top: 5em;
}

body.links #intro div h4 {
    line-height: 0.8;
}

body.links #tweets {
    position: absolute;
    bottom: 10em;
    right: 0;
}
                

/**
 * Book
 */

body.book #cover figure {
    margin: 0;
    padding: 0;
}
body.book #cover img {
    background-color: #ccc;
    display: block;
}
body.book #cover figcaption {
    font-size: x-small;
}

body.book #toc dl {
    margin: 0;
    padding: 0;
}
body.book #toc dt {}
body.book #toc dd {}
body.book #toc dd ul {
    line-height: 1em;
    margin: 0;
    padding: 0;
}
body.book #toc dd ul li {
    line-height: 1em;
    padding: 0;
}

.author {
    background-color: rgba(200,200,200,1);
    font-style: italic;
    font-size: smaller;
}

/**
 * Tweets
 */

.tweet .translation {
    font-size: smaller;
    font-style: italic;
}


/*
* book
*/

body.book > header nav ul,
body.book > footer nav ul {
    list-style: plain;
    margin-left: 1em;
}
body.book > header nav ul li:after {
    content: "— ";
}
body.book > header nav ul li:last-child:after {
    content: "";
}
body.book > header nav ul li {
    display: table-cell;
    padding: 0.25em 0 1em;
}

p.author.bio {

    background-color: rgba(240,240,240,1);
    font-style: normal;
    font-size: smaller;
    margin-left: -1em;
    padding: 2em;
}
