<div class="row" id="footer">

    <h5 class="center">For questions, please email <a href="mailto:people@costoffreedom.cc">people@costoffreedom.cc</a></h5>
    <p>Subscribe to<a href="mailto:book-subscribe@costoffreedom.cc"> book@costoffreedom.cc</a> to share your reading and your free culture experience.</p>

    <div class="container">
        <div class="row">
            <div class="three columns">
                <a href="http://fabricatorz.com">
                    <img src="/images/Fabricatorz-type.png" alt="logo fabricatorz" class="logo fabricatorz">
                </a>
            </div>
            <div class="three columns">
                <a href="http://creativecommons.org">
                    <img src="/images/cc.logo.large.png" alt="logo cc" class="logo cc">
                </a>
            </div>
            <div class="three columns">
                <a href="http://freebassel.org">
                    <img src="/images/freebassel.png" alt="logo freebassel" class="logo freebassel">
                </a>
            </div>
            <div class="three columns">
                <a href="http://booksprints.net">
                    <img src="/images/booksprint.png" alt="logo booksprints" class="logo booksprints">
                </a>
            </div>
        </div>
        <div class="row" id="license">
            <div class="twelve columns">
                <p>
                    <a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/"><img alt="Creative Commons License" style="border-width:0" src="https://licensebuttons.net/p/zero/1.0/80x15.png" /></a>
                    <br>This work is released under <a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/">CC0</a>.</p>
            </div>
        </div>
    </div>
</div>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script>
(function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

ga('create', 'UA-69874023-1', 'auto');
ga('send', 'pageview');
</script>
  </body>
</html>
