<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> Cost of Freedom | {{ page.section }} | {{ page.title }} </title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="{{ page.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  </head>
  <body class="book">
    <div id="header" class="row" style="text-align:center;">
        <div class="twelve column">
            <h1><a href="/book">Cost of Freedom</a></h1>
            <h4>A Collective Inquiry</h4>
            <p class="center">
                <a href="/book/cost-of-freedom.pdf">
                    <button class="button-download button">Download PDF</button>
                </a>
                <a href="/book/cost-of-freedom.epub">
                    <button class="button-download button">Download EPUB</button>
                </a>
            </p>
        </div>
    </div>
    {% include menu.html %}
