@charset "UTF-8";

/* CSS for pdf */

/* General CSS for contents */
body {
  font-weight: normal;
  font-family: serif;
  font-size: 10pt;
  color: #555555;
}

p {
  font-size: 10pt;
  line-height: 1.55;
  text-align: justify;
  margin-top: 10pt;
  word-break: break-word;
}

em, .italic {
  font-style: italic;
  font-weight: 400;
}

a, a:visited, a:hover {
  word-wrap: break-word;
  color: #FF4229;
  text-decoration: none;
}

strong em {
  font-weight: bold;
  font-style: italic;
}

/* authors bio */
quote, blockquote, blockquote p {
  padding-left: 0 !important;
  border-left: none !important;
  line-height: 1.4em;
}

/* The ways all the titles appears */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: #FF4229;
  font-family: sans;
  text-align: left;
}

h1, .chaptertitle {
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  z-index: 0;
  font-size: 20pt;
  margin-bottom: 20pt;
  overflow: visible;
  display: block;
  padding-bottom: 3mm;
  margin-right: 5mm;
  margin-top: 0;
}

h2 {
  font-size: 14pt;
  text-transform: uppercase;
  color: #FF4229;
  margin: 30pt 0 10pt 0;
}
