/* CSS for website */

img {
  height : 60%;
  width : 60%;
}

h1, h2, h3, a:active {
  color: #FF4229;
}

h1 {
  text-transform: uppercase;
}

h3 {
  font-style: italic;
  font-weight: normal;
}

blockquote, blockquote p { /* authors bio */
  padding-left: 0 !important;
  border-left: none !important;
  line-height: 1.4em;
}
